@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    background: #080811;
    font-family: "Poppins", sans-serif;
    color: #e5e4f0;
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(10, 10, 30, 0.45);
    backdrop-filter: blur(8px);
    z-index: 20;
}
.logo {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}
.logo span {
    color: #b259ff;
}
.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}
.menu a {
    text-decoration: none;
    color: #c9a0ff;
    transition: 0.3s;
}
.menu a:hover {
    color: #fff;
}

/* HERO */
header {
    padding: 120px 25px 80px;
    text-align: center;
}
.neon-text {
    color: #b366ff;
    text-shadow: 0 0 25px #8c34ff, 0 0 70px #5000ff;
    font-size: 48px;
}
.hero h2, .hero h3, .hero p {
    margin: 8px 0;
}
.hero-buttons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn-neon {
    padding: 10px 25px;
    border: 1px solid #9b4cff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 0 15px #a946ff60;
    transition: 0.4s ease;
}
.btn-neon:hover {
    background: #a946ff;
    box-shadow: 0 0 35px #c187ff;
}

/* SECTIONS */
section {
    padding: 80px 25px;
    text-align: center;
}

/* SKILLS */
.skills .skill-box {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.skills .skill-box span {
    background: rgba(120, 0, 255, 0.17);
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #8c34ff;
    box-shadow: 0 0 12px #6600ff90;
}

/* PROJECTS */
.projects {
    max-width: 1100px;
    margin: auto;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.project {
    width: 300px;
    padding: 25px;
    background: rgba(25, 10, 45, 0.35);
    border: 1px solid #7a22ff;
    border-radius: 12px;
    box-shadow: 0 0 25px #6a0dff55;
    transition: .3s;
}
.project:hover {
    box-shadow: 0 0 35px #a946ff;
}

/* CONTACT */
.contact-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* FOOTER */
footer {
    background: #020205;
    padding: 30px;
    text-align: center;
    color: #c9c0e6;
}

/* MOBILE */
@media(max-width:730px){
    .nav {
        flex-direction: column;
        gap: 10px;
    }
    .project {
        width: 90%;
    }
}
